.buttons-container {
    display: flex;
    justify-content: space-evenly;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--text-color);
    padding: 12px;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: var(--primary-color);
    color: var(--text-color);
    box-shadow: none;
}

.network-button  {
    position: relative;
    background-color: #EEEEEF;
    color: black; /* White text color */
    /* border-radius: 10px; Rounded edges */
    transition: background-color 0.3s ease; /* Smooth transition */
    font-weight: 600;
    border-radius: 20px;
    border: 1px solid #EEEEEF;
    min-width: 155px;
    height: 38px;
}

.social-network-button {
    border-radius: 20px;
    width: 100px;
}

.post-button, .post-button:disabled {
    background-color: #0EB12E;;
    border-color: #0EB12E;
    border-radius: 20px;
    width: 63px;
    font-weight: 600;
}

.button-icon {
    color: black;
    position: absolute;
    right: 12px;
    top: 7px;
}

.mt-2 {
    margin-bottom: 30px;
}

.btn-grey {
    background-color: #EEEEEF;
    color: black; /* White text color */
    /* border-radius: 10px; Rounded edges */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.btn-light-green {
    background-color: #E2F6E6;
    color: #33AF4C;
    /* border-radius: 10px; Rounded edges */
    transition: background-color 0.3s ease; /* Smooth transition */
    border: 1px solid #C8EBCF;
}

.close-modal-btn {
    color: white;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 576px) {
  .modal-dialog {
    max-width: 100%;
    width: auto; /* Allow it to take full width */
    height: 100%; /* Allow it to take full height */

    .modal-content {
        height: 100%; /* Allow it to take full height */
    }
  }
}