:root {
    --primary-color: #00c087;
    --secondary-color: #1e2026;
    --text-color: #ffffff;
    --error-color: #ff3b3b;
    --success-color: #00c087;
    --background-dark: #121212;
    --card-background: #1e2026;
}

body {
    background-color: var(--background-dark);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}

.auth-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.auth-card {
    display: flex;
    flex-direction: column;
    background-color: var(--card-background);
    border-radius: 12px;
    padding: 40px;
    width: 100%;
    max-width: 420px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);

    .etoro-logo {
        margin: 20px auto;
        width: 103px;
        height: auto;
    }
}

.auth-title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.auth-subtitle {
    font-size: 16px;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 30px;
    opacity: 0.8;
}

.auth-button {
    position: relative;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.etoro-button {
    /* background-color: var(--primary-color); */
    /* color: white; */
    background-color: #F6F6F6;
    color: green;
}

.twitter-button {
    /* background-color: #1DA1F2; */
    /* color: white; */
    background-color: #F6F6F6;
    color: #2C2C2C;
    ;
}

.auth-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.auth-button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    transform: none !important;
    box-shadow: none !important;
}

.modal-content {
    background-color: var(--card-background);
    color: var(--text-color);
}

.modal-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.modal-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.loading-spinner {
    margin-left: 8px;
}

.error-message {
    color: var(--error-color);
    font-size: 14px;
    margin-top: 8px;
}

.success-message {
    color: var(--success-color);
    font-size: 14px;
    margin-top: 8px;
}
.button-container {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.success-indicator {
  position: absolute;
  right: -25px;
  top: 25px;
  transform: translateY(-50%);
  color: var(--success-color);
}

.logo-title-container {
    display: flex;
    justify-content: center;
    margin-left: -32px;
}

.etoro-boost-icon {
    margin: -10px 10px 0;
}
